In [44]:
df = pd.read_csv("UK_Local_Authority_UTLA_COVID_Dataset.csv")

In [43]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120141 entries, 0 to 120140
Data columns (total 11 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   date                              120141 non-null  object
 1   areaName                          120141 non-null  object
 2   areaCode                          120141 non-null  object
 3   newCasesByPublishDate             111457 non-null  float64
 4   cumCasesByPublishDate             111718 non-null  float64
 5   newDeaths28DaysByPublishDate      88296 non-null   float64
 6   cumDeaths28DaysByPublishDate      93378 non-null   float64
 7   cumDeaths28DaysByPublishDateRate  93378 non-null   float64
 8   newDeaths28DaysByDeathDate        119961 non-null  float64
 9   cumDeaths28DaysByDeathDate        119961 non-null  float64
 10  cumDeaths28DaysByDeathDateRate    119961 non-null  float64
dtypes: float64(8), object(3)
memory usage: 10.1+ MB

In [46]:
df.isnull().sum()/len(df)*100

date                                 0.000000
areaName                             0.000000
areaCode                             0.000000
newCasesByPublishDate                7.228174
cumCasesByPublishDate                7.010929
newDeaths28DaysByPublishDate        26.506355
cumDeaths28DaysByPublishDate        22.276325
cumDeaths28DaysByPublishDateRate    22.276325
newDeaths28DaysByDeathDate           0.149824
cumDeaths28DaysByDeathDate           0.149824
cumDeaths28DaysByDeathDateRate       0.149824
dtype: float64

In [47]:
df = pd.read_csv("UK_National_Total_COVID_Dataset.csv")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 18 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        715 non-null    object
 1   areaName                                    715 non-null    object
 2   newCasesByPublishDate                       715 non-null    int64
 3   cumCasesByPublishDate                       715 non-null    int64
 4   newAdmissions                               659 non-null    float64
 5   cumAdmissions                               659 non-null    float64
 6   hospitalCases                               658 non-null    float64
 7   covidOccupiedMVBeds                         652 non-null    float64
 8   newTestsByPublishDate                       654 non-null    float64
 9   cumTestsByPublishDate                       654 non-null    float64
 10  newDeaths28DaysByPublishDate                680 non-null    float64
 11  cumDeaths28DaysByPublishDate                680 non-null    float64
 12  cumDeaths28DaysByPublishDateRate            671 non-null    float64
 13  newDeaths28DaysByDeathDate                  683 non-null    float64
 14  cumDeaths28DaysByDeathDate                  683 non-null    float64
 15  cumDeaths28DaysByDeathDateRate              673 non-null    float64
 16  cumPeopleVaccinatedFirstDoseByPublishDate   370 non-null    float64
 17  cumPeopleVaccinatedSecondDoseByPublishDate  370 non-null    float64
dtypes: float64(14), int64(2), object(2)
memory usage: 100.7+ KB

In [49]:
df.head

<bound method NDFrame.head of            date        areaName  newCasesByPublishDate  cumCasesByPublishDate  \
0    2020-01-31  United Kingdom                      2                      2
1    2020-02-01  United Kingdom                      0                      2
2    2020-02-02  United Kingdom                      0                      2
3    2020-02-03  United Kingdom                      0                      2
4    2020-02-04  United Kingdom                      0                      2
..          ...             ...                    ...                    ...
710  2022-01-10  United Kingdom                 142224               14617314
711  2022-01-11  United Kingdom                 120821               14732594
712  2022-01-12  United Kingdom                 129587               14862138
713  2022-01-13  United Kingdom                 109133               14967817
714  2022-01-14  United Kingdom                  99652               15066395

     newAdmissions  cumAdmissions  hospitalCases  covidOccupiedMVBeds  \
0              NaN            NaN            NaN                  NaN
1              NaN            NaN            NaN                  NaN
2              NaN            NaN            NaN                  NaN
3              NaN            NaN            NaN                  NaN
4              NaN            NaN            NaN                  NaN
..             ...            ...            ...                  ...
710         2423.0       663574.0        19876.0                821.0
711            NaN            NaN        19766.0                793.0
712            NaN            NaN        19729.0                785.0
713            NaN            NaN        19539.0                777.0
714            NaN            NaN            NaN                  NaN

     newTestsByPublishDate  cumTestsByPublishDate  \
0                      NaN                    NaN
1                      NaN                    NaN
2                      NaN                    NaN
3                      NaN                    NaN
4                      NaN                    NaN
..                     ...                    ...
710              1620805.0            425464553.0
711              1415624.0            427003891.0
712              1581359.0            428682395.0
713              1417236.0            430233640.0
714                    NaN                    NaN

     newDeaths28DaysByPublishDate  cumDeaths28DaysByPublishDate  \
0                             NaN                           NaN
1                             NaN                           NaN
2                             NaN                           NaN
3                             NaN                           NaN
4                             NaN                           NaN
..                            ...                           ...
710                          77.0                      150230.0
711                         379.0                      150609.0
712                         398.0                      151007.0
713                         335.0                      151342.0
714                         270.0                      151612.0

     cumDeaths28DaysByPublishDateRate  newDeaths28DaysByDeathDate  \
0                                 NaN                         NaN
1                                 NaN                         NaN
2                                 NaN                         NaN
3                                 NaN                         NaN
4                                 NaN                         NaN
..                                ...                         ...
710                             224.0                       221.0
711                             224.5                       197.0
712                             225.1                       165.0
713                             225.6                        56.0
714                             226.0                         NaN

     cumDeaths28DaysByDeathDate  cumDeaths28DaysByDeathDateRate  \
0                           NaN                             NaN
1                           NaN                             NaN
2                           NaN                             NaN
3                           NaN                             NaN
4                           NaN                             NaN
..                          ...                             ...
710                    151193.0                           225.4
711                    151390.0                           225.7
712                    151555.0                           225.9
713                    151611.0                           226.0
714                         NaN                             NaN

     cumPeopleVaccinatedFirstDoseByPublishDate  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
..                                         ...
710                                 51992559.0
711                                 52011835.0
712                                 52031355.0
713                                 52051876.0
714                                 52051876.0

     cumPeopleVaccinatedSecondDoseByPublishDate
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
..                                          ...
710                                  47745458.0
711                                  47774248.0
712                                  47804588.0
713                                  47836785.0
714                                  47836785.0

[715 rows x 18 columns]>

In [50]:
df.columns

Index(['date', 'areaName', 'newCasesByPublishDate', 'cumCasesByPublishDate',
       'newAdmissions', 'cumAdmissions', 'hospitalCases',
       'covidOccupiedMVBeds', 'newTestsByPublishDate', 'cumTestsByPublishDate',
       'newDeaths28DaysByPublishDate', 'cumDeaths28DaysByPublishDate',
       'cumDeaths28DaysByPublishDateRate', 'newDeaths28DaysByDeathDate',
       'cumDeaths28DaysByDeathDate', 'cumDeaths28DaysByDeathDateRate',
       'cumPeopleVaccinatedFirstDoseByPublishDate',
       'cumPeopleVaccinatedSecondDoseByPublishDate'],
      dtype='object')

In [51]:
df.isnull().sum()/len(df)*100

date                                           0.000000
areaName                                       0.000000
newCasesByPublishDate                          0.000000
cumCasesByPublishDate                          0.000000
newAdmissions                                  7.832168
cumAdmissions                                  7.832168
hospitalCases                                  7.972028
covidOccupiedMVBeds                            8.811189
newTestsByPublishDate                          8.531469
cumTestsByPublishDate                          8.531469
newDeaths28DaysByPublishDate                   4.895105
cumDeaths28DaysByPublishDate                   4.895105
cumDeaths28DaysByPublishDateRate               6.153846
newDeaths28DaysByDeathDate                     4.475524
cumDeaths28DaysByDeathDate                     4.475524
cumDeaths28DaysByDeathDateRate                 5.874126
cumPeopleVaccinatedFirstDoseByPublishDate     48.251748
cumPeopleVaccinatedSecondDoseByPublishDate    48.251748
dtype: float64

In [58]:
df["newAdmissions"] = df.newAdmissions.fillna(value = df["newAdmissions"].mean())
df["hospitalCases"] = df.hospitalCases.fillna(value = df["hospitalCases"].mean())
df["covidOccupiedMVBeds"] = df.covidOccupiedMVBeds.fillna(value = df["covidOccupiedMVBeds"].mean())
df["newTestsByPublishDate"] = df.newTestsByPublishDate.fillna(value = df["newTestsByPublishDate"].mean())
df["cumDeaths28DaysByPublishDate"] = df.cumDeaths28DaysByPublishDate.fillna(value = df["cumDeaths28DaysByPublishDate"].mean())
df["newDeaths28DaysByPublishDate"] = df.newDeaths28DaysByPublishDate.fillna(value = df["newDeaths28DaysByPublishDate"].mean())
df["cumAdmissions"] = df.cumAdmissions.fillna(value = df["cumAdmissions"].mean())
df["cumDeaths28DaysByPublishDate"] = df.cumDeaths28DaysByPublishDate.fillna(value = df["cumDeaths28DaysByPublishDate"].mean())
df["cumDeaths28DaysByPublishDateRate"] = df.cumDeaths28DaysByPublishDateRate.fillna(value = df["cumDeaths28DaysByPublishDateRate"].mean())
df["newDeaths28DaysByDeathDate"] = df.newDeaths28DaysByDeathDate.fillna(value = df["newDeaths28DaysByDeathDate"].mean())
df["cumTestsByPublishDate"] = df.cumTestsByPublishDate .fillna(value = df["cumTestsByPublishDate"].mean())
df["cumDeaths28DaysByDeathDate"] = df.cumDeaths28DaysByDeathDate.fillna(value = df["cumDeaths28DaysByDeathDate"].mean())
df["cumDeaths28DaysByDeathDateRate"] = df.cumDeaths28DaysByDeathDateRate.fillna(value = df["cumDeaths28DaysByDeathDateRate"].mean())

In [59]:
df.isnull().sum()/len(df)*100

date                                           0.000000
areaName                                       0.000000
newCasesByPublishDate                          0.000000
cumCasesByPublishDate                          0.000000
newAdmissions                                  0.000000
cumAdmissions                                  0.000000
hospitalCases                                  0.000000
covidOccupiedMVBeds                            0.000000
newTestsByPublishDate                          0.000000
cumTestsByPublishDate                          0.000000
newDeaths28DaysByPublishDate                   0.000000
cumDeaths28DaysByPublishDate                   0.000000
cumDeaths28DaysByPublishDateRate               0.000000
newDeaths28DaysByDeathDate                     0.000000
cumDeaths28DaysByDeathDate                     0.000000
cumDeaths28DaysByDeathDateRate                 0.000000
cumPeopleVaccinatedFirstDoseByPublishDate     48.251748
cumPeopleVaccinatedSecondDoseByPublishDate    48.251748
dtype: float64

In [61]:
df = df.drop(columns=["cumPeopleVaccinatedFirstDoseByPublishDate","cumPeopleVaccinatedSecondDoseByPublishDate"])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              715 non-null    object
 1   areaName                          715 non-null    object
 2   newCasesByPublishDate             715 non-null    int64
 3   cumCasesByPublishDate             715 non-null    int64
 4   newAdmissions                     715 non-null    float64
 5   cumAdmissions                     715 non-null    float64
 6   hospitalCases                     715 non-null    float64
 7   covidOccupiedMVBeds               715 non-null    float64
 8   newTestsByPublishDate             715 non-null    float64
 9   cumTestsByPublishDate             715 non-null    float64
 10  newDeaths28DaysByPublishDate      715 non-null    float64
 11  cumDeaths28DaysByPublishDate      715 non-null    float64
 12  cumDeaths28DaysByPublishDateRate  715 non-null    float64
 13  newDeaths28DaysByDeathDate        715 non-null    float64
 14  cumDeaths28DaysByDeathDate        715 non-null    float64
 15  cumDeaths28DaysByDeathDateRate    715 non-null    float64
dtypes: float64(12), int64(2), object(2)
memory usage: 89.5+ KB

In [63]:
df.describe()

,newCasesByPublishDate,cumCasesByPublishDate,newAdmissions,cumAdmissions,hospitalCases,covidOccupiedMVBeds,newTestsByPublishDate,cumTestsByPublishDate,newDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDateRate
count,715.000000,7.150000e+02,715.000000,715.000000,715.000000,715.000000,7.150000e+02,7.150000e+02,715.000000,715.000000,715.000000,715.000000,715.000000,715.000000
mean,21318.202797,3.647354e+06,1001.465857,344910.576631,9277.212766,1008.420245,6.204312e+05,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939
std,30198.929520,3.628410e+06,878.272467,182926.005233,8298.765893,900.888244,4.229264e+05,1.248169e+08,303.994167,46719.892581,68.025740,280.359535,46946.850767,68.175621
min,0.000000,2.000000e+00,73.000000,4882.000000,770.000000,60.000000,1.189600e+04,1.551740e+05,0.000000,1.000000,0.100000,0.000000,1.000000,0.100000
25%,2290.500000,3.065775e+05,289.500000,139284.500000,2754.500000,329.500000,2.486950e+05,2.361912e+07,27.000000,41502.500000,62.000000,28.000000,41625.000000,62.200000
50%,9055.000000,3.583907e+06,851.000000,360525.000000,7557.000000,883.000000,6.204312e+05,1.182049e+08,120.000000,95981.000000,143.100000,120.000000,99255.000000,148.000000
75%,32549.500000,5.496540e+06,1258.000000,483551.500000,11987.000000,1084.000000,9.146795e+05,2.340196e+08,238.500000,128775.000000,191.950000,262.500000,129053.000000,192.350000
max,218724.000000,1.506640e+07,4583.000000,663574.000000,39254.000000,4077.000000,2.052637e+06,4.302336e+08,1820.000000,151612.000000,226.000000,1359.000000,151611.000000,226.000000

In [64]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
newCasesByPublishDate,715.0,2.131820e+04,3.019893e+04,0.0,2290.5,9.055000e+03,3.254950e+04,218724.0
cumCasesByPublishDate,715.0,3.647354e+06,3.628410e+06,2.0,306577.5,3.583907e+06,5.496540e+06,15066395.0
newAdmissions,715.0,1.001466e+03,8.782725e+02,73.0,289.5,8.510000e+02,1.258000e+03,4583.0
cumAdmissions,715.0,3.449106e+05,1.829260e+05,4882.0,139284.5,3.605250e+05,4.835515e+05,663574.0
hospitalCases,715.0,9.277213e+03,8.298766e+03,770.0,2754.5,7.557000e+03,1.198700e+04,39254.0
covidOccupiedMVBeds,715.0,1.008420e+03,9.008882e+02,60.0,329.5,8.830000e+02,1.084000e+03,4077.0
newTestsByPublishDate,715.0,6.204312e+05,4.229264e+05,11896.0,248695.0,6.204312e+05,9.146795e+05,2052637.0
cumTestsByPublishDate,715.0,1.377674e+08,1.248169e+08,155174.0,23619124.5,1.182049e+08,2.340196e+08,430233640.0
newDeaths28DaysByPublishDate,715.0,2.227103e+02,3.039942e+02,0.0,27.0,1.200000e+02,2.385000e+02,1820.0
cumDeaths28DaysByPublishDate,715.0,8.867924e+04,4.671989e+04,1.0,41502.5,9.598100e+04,1.287750e+05,151612.0
cumDeaths28DaysByPublishDateRate,715.0,1.339709e+02,6.802574e+01,0.1,62.0,1.431000e+02,1.919500e+02,226.0
newDeaths28DaysByDeathDate,715.0,2.219780e+02,2.803595e+02,0.0,28.0,1.200000e+02,2.625000e+02,1359.0
cumDeaths28DaysByDeathDate,715.0,8.898158e+04,4.694685e+04,1.0,41625.0,9.925500e+04,1.290530e+05,151611.0
cumDeaths28DaysByDeathDateRate,715.0,1.346169e+02,6.817562e+01,0.1,62.2,1.480000e+02,1.923500e+02,226.0

In [65]:
df.columns

Index(['date', 'areaName', 'newCasesByPublishDate', 'cumCasesByPublishDate',
       'newAdmissions', 'cumAdmissions', 'hospitalCases',
       'covidOccupiedMVBeds', 'newTestsByPublishDate', 'cumTestsByPublishDate',
       'newDeaths28DaysByPublishDate', 'cumDeaths28DaysByPublishDate',
       'cumDeaths28DaysByPublishDateRate', 'newDeaths28DaysByDeathDate',
       'cumDeaths28DaysByDeathDate', 'cumDeaths28DaysByDeathDateRate'],
      dtype='object')

In [66]:
df.head()

,date,areaName,newCasesByPublishDate,cumCasesByPublishDate,newAdmissions,cumAdmissions,hospitalCases,covidOccupiedMVBeds,newTestsByPublishDate,cumTestsByPublishDate,newDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDate,cumDeaths28DaysByPublishDateRate,newDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDate,cumDeaths28DaysByDeathDateRate
0,2020-01-31,United Kingdom,2,2,1001.465857,344910.576631,9277.212766,1008.420245,620431.169725,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939
1,2020-02-01,United Kingdom,0,2,1001.465857,344910.576631,9277.212766,1008.420245,620431.169725,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939
2,2020-02-02,United Kingdom,0,2,1001.465857,344910.576631,9277.212766,1008.420245,620431.169725,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939
3,2020-02-03,United Kingdom,0,2,1001.465857,344910.576631,9277.212766,1008.420245,620431.169725,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939
4,2020-02-04,United Kingdom,0,2,1001.465857,344910.576631,9277.212766,1008.420245,620431.169725,1.377674e+08,222.710294,88679.236765,133.970939,221.978038,88981.579795,134.616939

In [67]:
df["areaName"].unique()

array(['United Kingdom'], dtype=object)

In [ ]:
df = df.rename(columns={"areaName":"country", "newCasesByPublishDate":"new_cases", })